
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<section class="w3l-aboutblock1" id="about">
    <div class="container">
        <div class="row">
            <div>
                <div class="position-relative">
                    <img src="~/Templates/sidebar-01/assets/images/myphoto1.jpg" alt="" class="radius-image img-fluid">
                </div>
            </div>
            <div class="col-lg-8 mt-lg-0 mt-5">
                <h5 class="title-small mb-2">Hello I'm Software Programmer</h5>

                <p class="mt-4">
                    Hi 👋, I'm Aleyna ÇELİK.
                    I am a software developer mostly working with .NET language. At the same time, I am curious about Linux. I also follow other technologies.
                    I was born and raised in Türkiye / Ankara. I live in Türkiye / Ankara.
                </p>
                <div class="my-info mt-4">
                    <div class="single-info">
                        <span>Name:</span>
                        <p>Aleyna ÇELİK</p>
                    </div>
                    <div class="single-info">
                        <span>Birthdate:</span>
                        <p>29/09/2000</p>
                    </div>
                    <div class="single-info">
                        <span>From:</span>
                        <p>Türkiye, Ankara </p>
                    </div>
                    <div class="single-info">
                        <span>Email:</span>
                        <p><a href="mailto:celikaleyna71@gmail.com">celikaleyna71@gmail.com</a></p>
                    </div>
                </div>
                <div class="my-social mt-lg-5 mt-4">
                    <a href="/Portfolio/Download" class="btn btn-style btn-primary">Download CV</a>

                    <br />

                    <a href="https://github.com/Aleyna06"><span class="fa fa-github"></span></a> &nbsp;
                    <a href="https://www.linkedin.com/in/aleyna-çelik/"><span class="fa fa-linkedin-square"></span></a> &nbsp;
                    <a href="https://www.instagram.com/_aleyna.celik/"><span class="fa fa-instagram"></span></a> &nbsp;

                </div>
            </div>
        </div>
    </div>
</section>


